/**************/
/* CSS REMEDY */
/**************/
html,
body {
    padding: 0;
    margin: 0;
}


/****************/
/* MAIN */
/****************/



/* section met de link */

/* SECTION 1 - groot groen vlak met logo */
main section:nth-of-type(1) {
    padding: 0;

    position: relative;
    /* op parents zet dan zorg je dat hij niet buiten het vak valt van plaatje*/
    display: flex;

    width: 100%;

    height: 120vw;
    max-height: 30em;

    /* background-color: red; */
}

section:first-of-type img {
    width: 100%;
    /* sanne */
    height: 100%;

    object-fit: cover;
    object-position: center 30%;
}

main>section:first-of-type a {
    position: absolute;
    /* Het element wordt verwijderd uit de normale documentstroom
     en er wordt geen ruimte gemaakt voor het element in de paginalay-out. */
    /* dat de rest van de cotent negeerd en komt recht boven */

    transition: 0.3s;
    border: solid 0.075em var(--white);
    border-radius: 3em;
    padding: 0.5em 1.25em 0.5em 1.25em;
    color: var(--white);
    text-decoration: none;

}

main>section:first-of-type a:nth-of-type(1) {
    bottom: 5.5em;
    left: 2em;
}

main>section:first-of-type a:nth-of-type(2) {
    bottom: 2em;
    left: 2em;
}

main>section:first-of-type a:active {
    transform: scale(.8);
}



/* SECTION 2 (red cups are back) en 3 (starbks delivers) */

main section:nth-of-type(2) a,
main section:nth-of-type(3) a {
    border: solid 0.075em var(--starbucks-green);
    border-radius: 3em;
    padding: 0.5em 1.25em 0.5em 1.25em;
    color: var(--starbucks-green);
    text-decoration: none;

    width: max-content;
    font-family: sodosansregular;
}

main section:nth-of-type(3) a:hover {
    color: white;
    background-color: var(--starbucks-green);
}

section:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

section:nth-of-type(2) img {
    width: 100%;
    height: auto;
    order: -1;
}

section:nth-of-type(2) p {
    width: 90%;
    margin: auto;
}

section:nth-of-type(2) h2 {
    width: 90%;
    margin: auto;
}


/* section 3 starbucks deliver */

section:nth-of-type(3) {
    display: flex;
    flex-direction: column;
}


section:nth-of-type(3) figcaption {
    text-transform: uppercase;
    font-family: sodosansregular;
}

h3 {
    font-family: sodosansregular;
}

section:nth-of-type(3) ul {
    display: flex;
    flex-wrap: wrap;
}

/* ASection 4 - meer over ons */

section:nth-of-type(4) {
    padding: 8em 1em;
    display: flex;
    flex-direction: column;
    gap: 4em;
    width: 100%;
    height: auto;
}

section:nth-of-type(4) ul {
    padding: 0;
    margin: auto;
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    gap: 1em;

    width: 100%;

    height: auto;
}

section:nth-of-type(4) ul li {
    height: auto;
    width: 22em;
    padding-bottom: 2em;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
}

/* NIET VERWIJDEREN */
section:nth-of-type(4) ul li img {
    width: 100%;
    height: auto;
    order: -100;
}

section:nth-of-type(4) ul li h3,
section:nth-of-type(4) ul li p,
section:nth-of-type(4) ul li a {
    margin-left: 1.5em;
}

/* TOT HIER  */


section:nth-of-type(4) ul li a {
    border: solid 0.075em var(--starbucks-green);
    border-radius: 3em;
    padding: 0.5em 1.25em 0.5em 1.25em;
    color: var(--starbucks-green);
    text-decoration: none;
    width: max-content;
    font-family: var(--starbucks-font);
}

*/ a:active {
    color: var(--color-text);
}



section:nth-of-type(3) img {
    order: -100;
    width: 100%;
}

/* Over eerste p naar boven halen */
section:nth-of-type(3) p:first-of-type {
    order: -150;
}

main>section:nth-of-type(3) {
    width: 95%;
    margin: auto;
}

main>section:nth-of-type(3) p {
    width: 80%;
}

main>section:last-of-type {
    background-color: var(--background-color);
}




main section:nth-of-type(4) ul li a:hover {
    color: var(--white);
    background-color: var(--starbucks-green);
}




@media (min-width:60em) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        position: relative;
    }

    main section:nth-of-type(1) {
        display: grid;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 4;
        position: sticky;
        top: 0px;
        max-height: 80em;

        /* aminaah & Sanne  */
    }

    main section:nth-of-type(2) {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
        margin-bottom: 2.5em;
    }

    main section:nth-of-type(3) {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;

        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 1em 0em;
    }

    main section:nth-of-type(3) figure {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 5;
    }



    main section:nth-of-type(3) figure img {
        width: 100%;
    }

    main section:nth-of-type(3) p:first-of-type {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    main section:nth-of-type(3) p:nth-of-type(2) {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    main section:nth-of-type(3) p:nth-of-type(3) {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    main section:nth-of-type(3) p:nth-of-type(4) {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 5;
    }

    main section:nth-of-type(3) a {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 5;
        grid-row-end: 6;
    }

    main>section:nth-of-type(4) {
        grid-column-start: 2;
        grid-column-end: 4;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        gap: 1em;
    }

    main>section:nth-of-type(4) ul {
        width: 100%;
        margin: 0;
    }

    main>section:nth-of-type(4) ul li figure {
        height: 50%;
    }

}

section:nth-of-type(4) ul li figure {
    height: unset;
}

section:nth-of-type(4) ul li figure figcaption {
    margin: 1.5em;
    display: flex;
    flex-direction: column;
}

section:nth-of-type(4) ul li figure figcaption :not(a) {
    margin: 0.3em;
}

section:nth-of-type(4) ul li figure figcaption a {
    margin-top: 1em;
    color: var(--starbucks-green);
    border: 1px solid var(--starbucks-green);
    width: 8.5em;
    padding: 0.5em;
    border-radius: 2em;
    line-height: .8;
    text-align: center;
    text-decoration: none;
}