/**************/
/* CSS REMEDY */
/**************/
html,body{
	padding: 0;
	margin: 0;
}
*, *::after, *::before {
  box-sizing:border-box;  
}

button, summary {
	cursor: pointer;
}



/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}

@font-face {
	font-family: sodosansregular;
	src: url(../fonts/SoDoSans-Regular.woff);
}
@font-face {
	font-family: sodosanslight;
	src: url(../fonts/SoDoSans-Light.woff);
}


/********************/
/* ALGEMENE STIJLEN */
/********************/

.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
  }

 h2 {
	 font-family: sodosansregular,sans-serif;
	 
 }
p{
	font-family: sodosanslight, sans-serif;
}

/**********/
/* HEADer */
/**********/

header { 
	display: flex;
	justify-content:space-between;
	align-items: center;

}

/* hamburgerbutton */
header button{
	background-color: rgba(192, 192, 192, 0.993);
	border: none;
	border-radius: 50%;
	width: 4em;
	height: 4em;

	display:grid;
	justify-content: center;
	align-items: center;

	z-index:200;

}

header button span{
	display: block;
	background-color: rgb(29, 143, 99);
	border-radius: 3em;
	width: 1.5em;
	height: .3em;
	grid-column-start:1;
	grid-row-start:1;
	
	transition:.3s;
}

header button span:nth-of-type(1) {
	transform:translateY(-.5em);
}

header button span:nth-of-type(3) {
	transform:translateY(.5em);
}

header button.open span:nth-of-type(1) {
	transform:rotate(45deg) scaleX(1.125);
}

header button.open span:nth-of-type(2) {
	transform:scaleX(0);
}

header button.open span:nth-of-type(3) {
	transform:rotate(-45deg) scaleX(1.125);
}

/* uitschuifmenu  */
header nav{
	position: fixed;
	top:0;
	bottom:0;
	right:0;
	width:80%;

	background-color: orange;
	
	transform: translateX(100%);
	transition: 2s;
	z-index: 100;

}

header nav.open{
	transform: translateX(0%);

}

header nav ul {
	/* list-style: none; */
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	/* display: flex; */
	/* justify-content: space-evenly; */
	padding: 2em;
	
}

/* logo */
header a img {
	width: 2.5em; 
}




/****************/
/* MAIN */
/****************/

main{
	display: flex;
	flex-direction: column;
	background-color: rgba(241, 239, 239, 0.993);

}


/* section met d link */

/* SECTION 1 */
main > section:first-of-type{
	position: relative;
	/* op parents zet dan zorg je dat hij niet buiten het vak valt van plaatje*/
	display: flex;

	height:120vw;
	max-height:30em;
}

section:first-of-type img{
	width: 100%;
	/* sanne */
	height:100%;

	object-fit: cover;
	object-position: center 30%;
}

main > section:first-of-type a {
	position: absolute;
	/* dat de rest van de cotent negeerd en komt recht boven */
	transition: 0.3s;
	border: solid 0.075em white;
	border-radius: 3em;
	padding: 0.5em 1.25em 0.5em 1.25em;
	color: white;
	text-decoration: none; 
	
	
}

main > section:first-of-type a:nth-of-type(1){
	bottom: 5.5em;
	left: 2em;
}

main > section:first-of-type a:nth-of-type(2){
	bottom: 2em;
	left: 2em;
}

main > section:first-of-type a:hover {

}

main > section:first-of-type a:active {
	transform:scale(.8);
}



/* SECTION 2 */

main section:nth-of-type(2) a, main section:nth-of-type(3) a {
	border: solid 0.075em rgb(29, 143, 99);
	border-radius: 3em;
	padding: 0.5em 1.25em 0.5em 1.25em;
	color: rgb(29, 143, 99);
	text-decoration: none; 

	width:max-content;
	font-family: sodosansregular;

}
main section:nth-last-of-type(2), main section:nth-last-of-type(3), main section:nth-last-of-type(4) {
	box-shadow: .5em .5em .5em rgba(192, 192, 192, 0.993);
	background-color: white;
	margin-bottom: 2em;
}

section:nth-of-type(2)
{display: flex;
flex-direction: column;
gap: 1em;
}

section:nth-of-type(2) img{
	width: 100%;
	height: auto;
	order: -100;
	
}

section:nth-of-type(2) p {
	width: 90%;
	margin: auto;
}

/* section 3 starbucks deliver */


section:nth-of-type(3)
{display: flex;
flex-direction: column;}


section:nth-of-type(3) img{
	order: -100;

}
/* Over eerste p naar boven halen */
section:nth-of-type(3) p:first-of-type{
	order: -150;
}

/* section 4 verhalen */

main section:nth-of-type(4) img {
	width:80%;
}
