/**************/
/* CSS REMEDY */
/**************/
html,body{
	padding: 0;
	margin: 0;
}
*, *::after, *::before {
  box-sizing:border-box;  
}

button, summary {
	cursor: pointer;
}



/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}





/********************/
/* ALGEMENE STIJLEN */
/********************/

.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
  }



/**********/
/* HEADer */
/**********/

header { 
	display: flex;
	justify-content:space-between;
	align-items: center;

}


header nav{
	position: fixed;
	top:0;
	bottom:0;
	right:0;
	width:80%;

	background-color: orange;
	
	transform: translateX(99%);

}

header nav ul {
	/* list-style: none; */
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	/* display: flex; */
	/* justify-content: space-evenly; */
	padding: 2em;
	
}

/* logo */

header a img {
	width: 2.5em; 
}




/****************/
/* MAIN */
/****************/

/* jouw code */

main{
	display: flex;
	flex-direction: column;
}
main > section:first-of-type{
	position: relative;
	/* op parents zet dan zorg je dat hij niet buiten het vak valt van plaatje*/
	display: flex;
}

main > section:first-of-type a{
	position: absolute;
	/* dat de rest van de cotent negeerd en komt recht boven */
}

main > section:first-of-type a:nth-child(2){
	bottom: 5em;
	left: 2em;
}

main > section:first-of-type a:nth-child(3){
	
}

section img:nth-child(1){
	width: 35em;
	height: 25em;
}
main section:first-of-type{
	grid-column-start: 1;
	grid-column-end: -1;
	grid-row-start: 3;
	grid-row-end: 4;
}

main section img{
	width: 9em;
}

section img{
	width: 100em;
}